/* jsonmander style */

ul._jsonmander {
    font-family: droid sans mono,consolas,monospace,courier new,courier,sans-serif;
    font-size: 12pt;
    font-weight: 400;
    list-style: none;
    color: #ffffff;
    background-color: #112435;
}

._jsonmander_row {
    white-space: pre-wrap;
}

._jsonmander_bank {
    display: none;
}

._jsonmander_box {
    float: right;
}

._jsonmander_hilite {
    background-color: #FFFF00;
    font-weight: 900;
}

._jsonmander_error {
    white-space: pre-wrap;
    background-color: #EE0000;
}

ul._jsonmander_search_list a {
    display: none;
}

._json_val._json_bool {
    color: #f5871f;
}

._json_val._json_null {
    color: #f5871f;
}

._json_val._json_number {
    color: #8959a8;
}

._json_val._json_string {
    color: #718c00;
}

a._jsonmander_fold:link, a._jsonmander_fold:visited, a._jsonmander_fold:hover, a._jsonmander_fold:active, a._jsonmander_unfold:link, a._jsonmander_unfold:visited, a._jsonmander_unfold:hover, a._jsonmander_unfold:active {
    color: #c82829;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    font-weight: 900;
}

._json_key, ._json_index {
    color: #F08047;
}

._jsonmander_lineno {
    display: inline-block;
    width: 33px;
    color: #999;
    border-right: 2px solid #3E7087;
}
